# Install required system packages
packages:
  yum:
    git: []
    htop: []
    mysql: []
    ImageMagick: []
    ImageMagick-devel: []

commands:
  01_install_composer:
    command: |
      export COMPOSER_HOME=/root
      curl -sS https://getcomposer.com/installer | php
      mv composer.phar /usr/local/bin/composer
      chmod +x /usr/local/bin/composer
    test: '[ ! -f /usr/local/bin/composer ]'
  
  02_update_composer:
    command: composer self-update
    test: '[ -f /usr/local/bin/composer ]'

